body,
html,
.no-spacing {
  padding: 0;
  margin: 0;
  font-style: 14;
}
a {
  color: inherit;
}
.App {
  font-family: Karla, "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  padding: 0 1rem;
  width: calc(100% - 2rem);
}
.App > *:not(:last-child) {
  margin-right: 1em;
}
